! Use a nice truetype font and size my default
xterm*faceName: Monospace
xterm*faceSize: 14

! Evey shell is a login shell by default 
xterm*loginshell: true

! Scrollback lines
xterm*savelines: 16384

! double-click to select whole URLs
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

! DOS-box Dracula Theme colors
xterm*foreground: rgb:f8/f8/f2
xterm*background: rgb:28/2a/36
xterm*color0: rgb:00/00/00
xterm*color1: rgb:f5/55/55
xterm*color2: rgb:50/fa/7b
xterm*color3: rgb:ff/b8/6c
xterm*color4: rgb:62/72/a4
xterm*color5: rgb:bd/93/f9
xterm*color6: rgb:8b/e9/fd
xterm*color7: rgb:a8/a8/a8
xterm*color8: rgb:54/54/54
xterm*color9: rgb:fc/54/54
xterm*color10: rgb:54/fc/54
xterm*color11: rgb:fc/fc/54
xterm*color12: rgb:54/54/fc
xterm*color13: rgb:fc/54/fc
xterm*color14: rgb:54/fc/fc
xterm*color15: rgb:fc/fc/fc

! hiding right-hand side scrollbar
xterm*rightScrollBar: false
xterm*ScrollBar: false

! stop output to terminal from jumping down to bottom of scroll again
xterm*scrollTtyOutput: false
